@charset "UTF-8";

@media screen and (min-width: 769px) {
    body {
        background-color: bisque;
    }

    header {
        border-radius: 20px;
    }

    header > h1 > br {
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul {
    margin-top: 30px;
    border-radius: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }
    
    menu > ul > li > a {
       padding-left: 119px ;
       padding-right: 119px ;
    }

    menu > ul > li > a:hover {
    border-radius: 10px;
    }


    #burguer {display: none;}

    main {
        width: 800px;
    }

    #escvas {
        float: left;
    }
}