@charset "UTF-8";

@media screen and (min-width: 769px) {
    body {
        background-color: bisque;
    }

    header {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    header > h1 > br {
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul {
    margin-top: 30px;
    border-radius: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }
    
    menu > ul > li > a {
       padding-left: 119px ;
       padding-right: 119px ;
    }

    menu > ul > li > a:hover {
    border-radius: 10px;
    }


    #burguer {display: none;}

    main {
        width: 800px;
        box-shadow: 2px 2px 5px black;
    }

    #escvas {
        float: left;
    }

    div#cruz {
        display: block;
        margin-left: 165px;
        margin-right: 165px;
    }
    
    div#cruz > img {
        width: 150px;
       display: inline-block;
    }

    footer {
        margin: auto;
        margin-top: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}